
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }

  .form-signin input{
    margin-top: 1rem;
  }
  
  .card-body .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    margin: 1rem 0rem 1rem 0rem;
  }
  .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
}
.btn.btn-primary {
    border: 4px solid var(--blue);
    color: var(--black);
}
.btn.btn-primary:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: var(--blue);
    z-index: -1;
    transition: 0.2s ease;
}
.btn.btn-primary:hover {
    color: var(--white);
    background: var(--blue);
    transition: 0.2s ease;
}
.btn.btn-primary:hover:before {
    width: 100%;
}
  

.btn.btn-secondary {
  border: 4px solid var(--gray);
  color: var(--black);
}
.btn.btn-secondary:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--gray);
  z-index: -1;
  transition: 0.2s ease;
}
.btn.btn-secondary:hover {
  color: var(--white);
  background: var(--gray);
  transition: 0.2s ease;
}
.btn.btn-secondary:hover:before {
  width: 100%;
}
.captcha {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:disabled {
  cursor: not-allowed;
}