.img-container {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
.footer_image{
    text-align: center;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
