<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="card card-signin my-5">
    <div class="card-body">
      <div *ngIf="isUserImage">
        <button (click)="deleteImage()">Delete</button>
      </div>
      <h5 class="card-title text-center"></h5>
      <div class="img-container"> 
          <img src="assets/img/pruebaM.jpg">
      </div>
      <br>
    </div>
    <p class="footer_image" id="user">{{user}}</p>
    <div *ngIf="isUserImage==false">
      <p class="footer_image" id="description">{{description}}</p>
    </div>
    <div *ngIf="isUserImage && !modifying">
        <p class="footer_image">{{description}}</p>
    </div>
    <div *ngIf="isUserImage && modifying">
      <p><textarea>{{description}}</textarea></p>
      <button (click)="onClickSave()">Save</button>
    </div>
    <div *ngIf="isUserImage">
      <button (click)="onClickModify()">Edit</button>
    </div>
    </div>
</div>
