<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">UPLOAD</h5>


        
 
      <form class="form-upload" [formGroup]="uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="form-label-group">
            <label for="img">Image</label>
            <input formControlName="img" id="img" type="file" class="form-control" (change)="onFileChange($event)">
          </div>
          
          <div class="form-label-group">
            
            <label class="switch" for="public"></label>
              <mat-slide-toggle class="form-control" formControlName="public">Public</mat-slide-toggle>

          </div>
          <div class="form-label-group">
            <label for="description">Description:</label>
            <input class="form-control" formControlName="description">
          </div>
          <button type="submit">
              Upload
          </button>
        </form>
      </div>
    </div>
  </div>

