<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">UPLOAD</h5>
        <form action="/action_page.php">
            <p>
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
            </p>
            <p><input type="radio" id="private" name="private" value="private" checked>
            <label for="private">Private</label>
            </p>
            <p><input type="radio" id="public" name="public" value="public">
            <label for="private">Public</label>
            </p>
            <p><input type="submit"></p>
        </form>
      </div>
    </div>
  </div>

